body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, main, footer {
    max-width: 1500px;
    margin: auto;
}

header {
    background: #131210;
    overflow: auto;
}

div.top {
    height: 150px;
    overflow: hidden;
}

div.top > div:nth-child(1) {
    margin: 60px 0 60px 101px;
    float: left;
}

div.top > div:nth-child(2) {
    margin-right: 80px;
    float: right;
    color: white;
}

div.top > div:nth-of-type(2) ul {
    margin: 56px 0;
}

div.top > div:nth-of-type(2) li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    margin-left: 46px;
}

div.top > div:nth-of-type(2) img {
    margin-right: 17px;
}

div.top > div:nth-of-type(2) span {
    position: relative;
    bottom: 8px;
    font-size: 18px;
}

div.top button {
    height: 56px;
    width: 125px;
    background: white;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #135EC5;
}

figure {
    display: inline-block;
    margin-top: 90px;
}

header div:nth-child(2) {
    text-align: center;
}

header div:nth-child(2) div.check-point {
    position: relative;
    top: 240px;
    right: 80px;
    float: right;
}

header div:nth-child(2) div.check-point div {
    width: 10px;
    height: 10px;
    background: #3c3c3c;
    border-radius: 10px;
    margin: 10px 0;
}

header div:nth-child(2) div.check-point div.check-fig {
    background: #135ec5;
}

header div:nth-child(2) p {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

header input[type="text"] {
    background: #131210;
    width: 330px;
    margin-right: 109px;
    border-bottom: 1px solid #3C3C3C;
    margin-bottom: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #3C3C3C;
    font-size: 30px;
}

header input[type="submit"] {
    width: 215px;
    height: 55px;
    background: #135EC5;
    border: none;
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}

header form {
    margin-top: 40px;
    margin-bottom: 50px;
}

main {
    text-align: center;
}

main nav {
    border-bottom: 1px solid #ebebeb;
    color: #c1c1c1;
    padding: 60px 0;
}

main > h2 {
    margin: 55px 0 0;
    color: #c1c1c1;
    font-size: 15px;
}

nav div {
    display: inline-block;
    width: 14%;
}

main section:first-of-type {
    width: 85%;
    height: 321px;
    margin: 100px auto;
}

main section:first-of-type div:first-of-type {
    float: left;
    width: 40%;
}

main section:first-of-type div:last-of-type {
    float: right;
    width: 50%;
    text-align: left;
}

main .section-right h2 {
    color: #135ec5;
    font-size: 48px;
    margin-top: 0;
}

main .section-right span {
    text-transform: uppercase;
}

main .section-right p {
    line-height: 3em;
    margin: 35px 0;
    color: #c1c1c1;
}

main .section-right button {
    width: 215px;
    height: 55px;
    background: #135ec5;
    border: none;
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

main section:nth-of-type(2) {
    background: #135ec5;
    height: 541px;
    margin-bottom: 250px;
}

main section:nth-of-type(2) h2 {
    color: white;
    font-size: 3.5em;
    padding: 145px;
}

main section:nth-of-type(2) button {
    position: relative;
    bottom: 300px;
    right: 300px;
    width: 234px;
    height: 56px;
    background: #135ec5;
    border: 3px solid white;
    border-radius: 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

main section:nth-of-type(2) img {
    position: relative;
    left: 150px;
}

.inner, .inner2 {
    display: inline-block;
    vertical-align: middle;
}

section {
    text-align: center;
}

.inner {
    width: 350px;
    line-height: normal;
}

.inner > div:first-of-type {
    position: relative;
    height: 195px;
    background: #135DC3;
    /* padding: 0 50px; */
}

div.furie {
    height: 130px;
    background-image: url("./img/furie.png");
    opacity: 0.05;
    background-repeat: no-repeat;
    background-size: 28em;
}

.inner div:first-child button {
    float: right;
    width: 86px;
    height: 30px;
    border: none;
    background: white;
    border-radius: 25px;
    text-transform: uppercase;
    color: #135EC5;
    font-weight: bold;
    top: 30px;
    position: relative;
    right: 20px;
    z-index: 2;
}
.inner div:nth-child(1) p {
    font-size: 7em;
    text-transform: uppercase;
    color: #135EC5;
    font-weight: bold;
    font-family: Arial;
    position: relative;
    margin: 0;
    color: rebeccapurple;
}

.inner > div:nth-of-type(2) h3 {
    margin-bottom: 0;
}

.inner > div:nth-of-type(2) {
    margin-top: 160px;
}

.inner > div:nth-of-type(2) p:first-of-type {
    color: #135ec5;
    font-size: 10px;
    margin-top: 5px;
}


.inner > div:nth-of-type(2) p:last-of-type {
    color: #c1c1c1;
    margin: 30px 0;
}

.inner .more-info {
    text-align: center;
}

.inner .more-info div {
    display: inline-block;
    vertical-align: middle;
}

.more-info div:first-of-type {
    color: #16ad2c;
    font-weight: bold;
}
.more-info div:last-of-type button {
    width: 192px;
    height: 50px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    margin-left: 40px;
}

.inner2 {
    width: 950px;
    height: 685px;
    overflow: hidden;
}

.inner2 div {
    display: inline-block;
}

.inner2 .left-part {
    width: 500px;
    height: 100%;
    float: left;
    padding: 45px;
    box-sizing: border-box;
}

.inner2 .left-part > div:first-of-type {
    width: 100%;
}

.inner2 .left-part > div:first-of-type span:nth-child(1) {
    float: left;
    color: #e2e2e2;
}
.inner2 .left-part > div:first-of-type span:nth-child(2) {
    float: right;
    color: #16ad2c;
    font-weight: bold;
}

.inner2 .left-part > div:nth-of-type(2) {
    margin-top: 100px;
}

.inner2 h3 {
    color: #135ec5;
    font-size: 18px;
}

.inner2 p {
    text-align: left;
    line-height: 40px;
    color: #c1c1c1;
    margin-top: 40px;
}

.inner2 .left-part > div:nth-of-type(3) {
    text-align: left;
    width: 100%;
    margin-top: 150px;
}

.inner2 .left-part > div:nth-of-type(3) button {
    width: 214px;
    height: 55px;
    border: none;
    border-radius: 30px;
    background: #135ec4;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}

.inner2 .right-part {
    width: 440px;
    background: #135ec4;
    height: 100%;
    padding: 5px;
    box-sizing: content-box;
}

.right-part button {
    width: 86px;
    height: 30px;
    border: none;
    background: white;
    border-radius: 25px;
    text-transform: uppercase;
    color: #135EC5;
    font-weight: bold;
    top: 38px;
    position: relative;
    left: 150px;
}

.right-part img {
    height: 500px;
    position: relative;
    top: 65px;
    right: 97px;
}
footer {
    width: 100%;
    margin: auto;
    margin-top: 150px;
    box-sizing: border-box;
}

footer form > div:nth-of-type(1) {
    margin-bottom: 50px;
}

footer div:nth-of-type(2) div {
    display: inline-block;
    margin: 50px 0 50px 124px;
}

footer form > div:nth-of-type(2) {
    border-top: 1px solid #f5f5f5;
    margin: 0 50px;
}

footer div:nth-of-type(2) div:first-of-type {
    margin: 50px 0 50px 0;
}

footer div:nth-of-type(3),
footer div:nth-of-type(4) {
    margin-top: 50px;
}

footer div:nth-of-type(4),
footer div:nth-of-type(5) div:nth-child(3) {
    text-align: center;
}

footer [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

footer [type=radio] + img {
    cursor: pointer;
    opacity: 0.5;
}

footer [type=radio]:checked + img {
    opacity: 1;
}

footer [type=text] {
    width: 21.5%;
    margin-left: 50px;
    border: none;
    color: #c1c1c1;
    border-bottom: 1px solid #ebebeb;
    font-size: 20px;
    padding-bottom: 20px;
}

footer .hide-search [type=text] {
    background: #135ec5;
}

footer div > [type=text]:first-of-type {
    margin-left: 0;
}

footer div:nth-of-type(4) button {
    background: #135ec5;
    width: 188px;
    height: 40px;
    border: navajowhite;
    border-radius: 30px 30px 0 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

footer div:nth-of-type(5) button {
    width: 204px;
    height: 56px;
    background: white;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #135ec5;
    cursor: pointer;
}

footer div.hide-search {
    background: #135ec5;
    padding: 50px;
}

footer div.hide-search div:nth-of-type(2) {
    padding-top: 50px;
}

footer form > div:nth-of-type(1),
footer form > div:nth-of-type(3) {
    padding: 0 50px;
}

footer form > div:nth-of-type(1) > input:nth-child(2) {
    color: black;
}